* {
   font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
   background: rgb(51,51,51);
   font-size: 200%;
   color: #fff;
   width: 80%;
   margin: auto;
   padding-top: 3rem;
   padding-bottom: 3rem;
   overflow-x: hidden;
}

@media (min-width:20rem)  {
   html {
      font-size: 66%;
   }
}

@media (min-width:30rem)  {
   html {
      font-size: 100%;
   }
}
/*
@media (min-width:45rem)  {
   html {
      font-size: 150%;
   }
}

@media (min-width:60rem)  {
   html {
      font-size: 160%;
   }
}*/


iframe {
   height: 0px;
   width: 0px;
   display: none
}

a {
   /*color: #94CAFF;*/
   /*color: #69b4ff;
   text-decoration: none;*/
}

a:visited {
   /*text-decoration: none;*/
}

a:hover {
   /*text-decoration: underline;*/
}
